<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/png" href="icon.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="style.css">
    <title>My List</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <!-- The Modal -->
 <div class="modal fade" id="myModal">
    <center>
        <div class="toast ">
            <div class="toast-header toasts">
              Added Successfully
            </div>
          </div>
          </center>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add item</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            
            <form id="add_form" class="form-group" style="display:none" >
                <input type="text" list="names" class="form-control" id="name"  ng-model="name" placeholder="Name" required>
                <datalist id="names" >
                    <option ng-repeat="item_name in name_list track by $index" value="{{item_name}}">{{item_name}}
                </datalist>
                <br>
                <input type="number" min="0" class="form-control" ng-model="quantity" placeholder="Quantity" required>
                <br>
                    <input type="radio"  ng-model="units" value="kg" >kg
                    &nbsp;
                    <input type="radio" ng-model="units" value="grams">grams
                    &nbsp;
                    <input type="radio" ng-model="units" value="litre">litre
                    &nbsp;
                    <input type="radio" ng-model="units" value="ml">ml
                    &nbsp;
                    <input type="radio" ng-model="units" value="box">box
                    &nbsp;
                    <input type="radio" ng-model="units" value="pieces">pieces
                    &nbsp;
                    <input type="radio" ng-model="units" value="bottle">bottle
                    &nbsp;
                    <input type="radio" ng-model="units" value="packet">packet
                    &nbsp;
                    <br>
                    <br>
                    <center>
                <button type="submit" class="btn" ng-click="add_item()" id="add_item" >Add</button>
                </center>
                </form>
        </div>
      </div>
    </div>
  </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" title="close" class="closebtn" onclick="closeNav()">&times;</a>
            <div ng-model="nolistsadded" ng-if="nolistsadded">
                <center>
                    <msg>
                        No lists added
                    </msg>
                </center>
            </div>
            <div ng-repeat="x in list_names track by $index" >
                
                <table class="table-borderless" style="width:100%">
                    <tr>
                        <td>
                            <a id="list{{$index}}" href="javascript:void(0)"  ng-click="show_list($index)">{{x}}</a>
                        </td>
                        <td>
                            <span class="delete_list" title="Delete {{x}}" ng-click="delete_list($index)">&times;</span>
                        </td>
                    </tr>
                </table>
                </div>
                <br>
                <center>
                <button class="btn btn-dark" ng-click="create_list()">Create List</button>
                <button data-toggle="collapse" class="btn btn-light" data-target="#demo">Themes</button>
<br>
<br>
                </center>

                <div  id="demo" class="collapse">
                <button class="theme" ng-repeat="color in ['gray','rgba(25,40,73)','red','green','teal','purple','DarkTurquoise ','darkkhaki','mediumorchid','darkslategray','violet','seagreen','orange','blue','slateblue','coral','tomato','#e75480','#34568b','dodgerblue','crimson','mediumseagreen','brown','#AC4FC6']" ng-style="{'background-color': color}" ng-click="change_color(color)">&nbsp;</button>
                </div>
          </div>
<div id="main">
    <span style="font-size:30px;cursor:pointer" class="title" onclick="openNav()">&#9776;</span><span class="title" style="font-size: 30px;">My List</span>
    <div id="google_translate_element" style="float:right;margin:10px"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <br>
<br>
<br>
<div id="list_data" style="display: none" ng-model="theme" >
    <br>
    <center>
    <ul id="menu" ng-repeat="z in pages track by $index" >
        <li id="{{$index}}" ng-model="current_page" ng-style="current_page=={{$index}} ? active : pages_style" ng-click="paginate($index)" class="page_numbers">{{z}}</li>
    </ul>
    <br>
    <br>
        <table  id="my-table"  class="table table-striped table-bordered table-sm" >
            <thead ng-model="header" ng-init="header=false" ng-show="header">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Units
                </th>
                <th>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="y in items track by $index" ng-style="{{$index}}%2 == 0 && {'background-color': theme,'color':'white'}  || {{$index}}%2 == 1 && {'background-color':'white'}">
              <td>{{y.name}}</td>
              <td>{{y.quantity}}</td>
              <td>{{y.units}}</td>
              <td  ng-click="delete_item($index)" class="delete_item">Delete</td>
            </tr>
            </tbody>
        </table>
        <div ng-model="noitemsadded" class="noitemsadded" ng-if="noitemsadded" ng-init="noitemsadded=false" > No Items added
        </div>
        <br>
        <br>
        <br>
    </div>
</center>
    <button type="button" class="btn" id="add" data-toggle="modal" data-target="#myModal">Add Item</button>
    </div>
</div>
<script src="script.js"></script>
</body>
</html>